/* Estilos básicos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    height: 100%;
   }
  .orcar {
    font-family: Arial, sans-serif;
    background-color: #e86f29;
    color: #fff;
    height: 100%;
   }
  
  /* MENU */
  
  #menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 0px 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 999;
  }
  
  #logo {
    margin: 0 auto;
    padding: 0 10px 0 0;
  }
  
  #logo img {
    height: 40px; 
  }
  
  #menu ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }
  
  #menu ul li {
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-right: 15px;
  }
  
  #menu ul li a {
    text-decoration: none;
    color: #4a76b8;
    font-weight: bold;
    font-size: 14px;
  }
  
  #menu ul li a:hover {
    color: orangered; 
  }



  
  /* Estilos para as divs */
  
  .div-largura-total {
    background-color: #f1f1f1;
    padding: 20px;
    margin: 10px;
  }

  
  .tutorial {
    background-color: #e86f29;
    height: auto;
    margin: 0;
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
  }
  
  .icones {
    display: inline-block;
    padding: 10px;
  }
  
  .service {
    display: block;
    margin: 0 auto;
    
  }
  
  .itens {
    display: block;
    margin-top: 10px;
    
  }
  
  
  .service {
    width: 230px;
    padding: 50px 50px 5px 50px;
    display: block;
    margin: 0 auto;
  }
  
  .div-abaixo {
    padding: 20px;
    margin: 0;
    clear: both;
    background-color: #f1f1f1;
    color: black;
  }
  
  .div-abaixo h1 {
    text-align: center;
    color: #4a76b8;
    padding: 5% 0 5% 0;
  }
  
  
  /* Estilos para o rodapé */
  footer {
    clear: both;
    background-color: #e86f29;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
  }
  
  footer h2 {
    padding-bottom: 10px;;
  }

  footer p {
    text-align: center;
    padding: 30px 0;
    font-size: 10px;
  }

.desv a {
  text-decoration: none;
}
.desv a:link {
  color: #fff;
}  
.desv a:visited {
  color: #4a76b8;
}
.desv a:hover {
  color: #e86f29;
  background: #4a76b8;
}
  /*área do banner*/
  #banner {
    position: relative;
    overflow: hidden; 
  }
  
  .carousel {
    display: flex;
    width: 100%;
    
  }
  
  .carousel-slide {
    flex: 0 0 100%;
    transition: transform 3s ease-in-out;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
  }
  
  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #f1f1f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    z-index: 2;
  }
  
  .carousel-prev {
    left: 10px;
  }
  
  .carousel-next {
    right: 10px;
  }
  
  /* formulário  */
  form {
      max-width: 400px;
      margin: 0 auto;
  }
  
  label {
      display: block;
      margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="message"],
  input[type="button"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
  }
  
  input[type="button"] {
      background-color: #4CAF50;
      color: white;
      cursor: pointer;
  }
  
  input[type="button"]:hover {
      background-color: #45a049;
  }
  
  
  /*Área dos produtos*/
  
  section article {
    border: 1px solid rgb(224, 203, 110) ;
    margin: 0.5em;
    border-radius: 5px;
    height: 100%;
  
  }
  
  section article img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    
  }
  
  section article h2 {
  color: #4a76b8;
    margin: 0.5em;
  }
  
  section article p {
    color: grey;
    margin: 0.5em;
  }
  
  /* outros formatos */
  
  @media screen and (min-width: 768px) {
    .article {
        display: grid; /*ativa o modo grid*/
        grid-template-columns: 1fr 1fr; 
    }

    #menu ul li a {
      font-size: 16px;
    }

  }
  
  @media screen and (min-width: 960px) {
    .article {
        grid-template-columns: 1fr 1fr 1fr; 
    }

    #menu ul li a {
      font-size: 18px;
    }


  }

  @media screen and (min-width: 1024px) {
    .article {
        width: 1024px;
        margin: auto;   
    }

    #logo img {
      height: 60px; 
    }
  
  }

  .pg_orcamento {
    padding: 5% 0 0 0;
  }
  .pg_orcamento a {
    text-decoration: none;
  }
  .pg_orcamento a:link {
    text-decoration: none;
  }
  .pg_orcamento a:visited {
    text-decoration: none;
  }

  .pg_orcamento a:link, a:visited {
    background-color: #4a76b8;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
  }
  
  .pg_orcamento a:hover, a:active {
    background-color: white;
    color: #4a76b8;
  }

 /* // página de orçamento  */


 .conteudos {
  background-color: #e86f29;
  color: #fff;
  text-align: center;
  padding: 80px 10px 10px 10px;
  margin: 0 auto;
}

.conteudos p {
  font-size: 14px;
  padding-bottom: 20px;
}

.column {

  background-color: #e86f29;
  color: #fff;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10%;
  
}

.column label {
  display: block;
  margin-bottom: 10px;
}


.checkbox-label input[type="checkbox"] {
  margin-right: 5px;
}


/* Outros formatos */


@media screen and (min-width: 900px) {
  .column {
    width: 33.33%;
    float: left;
    margin: auto;
    padding: 5% 0 0 10%;
  }
  .conteudo {
    max-width: 1024px;
    margin: auto;
  }
}

.calculo {
  clear: both;
  text-align: center;
  height: 100%;
  padding-bottom: 50px;;
}


.botao  {
  background-color: #4a76b8;
  color: white;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  border: 0;
}
.botao:hover {
  background-color: white;
  color: #4a76b8;
}

.botao:active {
  background-color: #e86f29;
  box-shadow: 0 5px white;
  transform: translateY(4px);
}


.calculo p {
  padding: 15px 0 50px 0;
}